[data-tab-content]{
    display: none;
}
.active[data-tab-content]{
    display: block;
}
.body{
    padding: 0;
    margin: 0;
}
.tabs{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #afbabe;
}
.tab{
    cursor: pointer;
    padding: 10px;
}
.tab.active{
    background-color: #97958d7a;
}
.tab:hover{
    background-color: #97958d8a;
}
.tab-content-wrapper{
    margin-left: 20px;
}